<div class="mx-auto">


    <div class="card">
        <div class="container">
            <div class="card-title">
                <div class="row flex-row justify-content-center alig-items-center">
                    <h5>Iniciar sesión</h5>
                </div>
            </div>
            <div class="card-body">

                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="exampleInputEmail1" class="form-label">Ingrese su usuario</label>
                            <input type="text" class="form-control" id="text-usuario">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Ingrese su contraseña</label>
                            <input type="password" class="form-control" id="text-usuario">
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" (click)="ingresar()" class="btn btn-primary">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>