<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let producto of productos">
            <div class="card" style="width: 90%">
                <img src="{{producto.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{producto.title}}</h5>
                    <p class="card-text">{{producto.description}}<br>Precio del producto: ${{producto.price}}</p>
                </div>
            </div>
        </div>



    </div>

</div>