<div class="container">

    <div class="card">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title">Registrarse</h5>
            </div>
            <div class="row">
                <form (ngSubmit)="nuevoUsuario(f)" #f="ngForm">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Ingrese su nombre</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="name" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Ingrese su username</label>
                        <input type="password" class="form-control" name="username" ngModel>
                    </div>
                    <select class="form-select" aria-label="Default select example" name="selectEdad" ngModel>
                      <option selected value="0">Seleccione su rango de edad</option>
                      <option value="1">10-17</option>
                      <option value="2">18-30</option>
                      <option value="3">31+</option>
                    </select>
                    <br>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="checkTerminos" ngModel>
                        <label class="form-check-label" for="exampleCheck1">Acepta terminos y condiciones</label>
                    </div>
                    <button type="submit" ngSubmit class="btn btn-primary">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>